.header {
    background-color: #0A0E17;
    color: white;
    position: sticky;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#input {
    background-color: rgb(100, 100, 100);
    justify-content: center;
    border: none;
    border-radius: 40px;
    width: 40%;
    text-align: center;
    height: 7vh;
    color: white;
}

#input:focus {
    transition: 0.5s;
    box-shadow: inset 0 0 10px 2px black;
}

.registration {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}